.tooltip {
  position: absolute;
  width: 150px;
  height: 70px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.88);
  border: 0;
  border-radius: 10px;
}

.axisText {
  font-family: sans-serif;
  font-weight: bold;
  fill: #272681;
  text-anchor: middle;
}

